
$font-logo: 'Dongle', sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Rubik', sans-serif;
$fontsize-primary: 14px;
$font-weights: (
    'light': 300,
    'regular': 400,
    'medium': 500,
    'extra-medium': 600,
    'bold': 700,
    'extra-bold': 900
);
$black: #222;
$white: #fff;
$thinYellow: #fdf6e5;
$lightYellow: #f5d594;
$orange: #f19747;
$lightenGrey: #f3f3f3;
$lightGrey: #b2b2b2;
$grey: #787e87;
$shadedBlue: #e7ebf0;
$lightenBlue: #f5f9fe;
$thinBlue: #e5f4fe;
$darkenBlue: #3764f6;
$blue: #4490f7;
$lightPurple: #b6b9e5;
$thinPink: #fbe9ee;
$lightPink: #ebc4c8;
$pink: #ea3c5c;
$thinGreen: #e1f1e4;
$green: #5ecca2;
